# @see https://git-scm.com/docs/gitignore

# `.DS_Store` is a file that stores custom attributes of its containing folder
.DS_Store

# Logs
logs
*.log

# Dependencies
node_modules
bower_components
vendor
dev.db
prod.db

# Caches
.env
.cache
.npm
.eslintcache

# Temporaries
.tmp
.temp

# Built
dist
target
built
output
out

# Editor directories and files
.idea
.vscode
.templates
template.config.js
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
